name = 'tap'
main = "manual-worker/worker.js"
compatibility_date = "2023-12-01"

# 环境变量请直接在 Cloudflare 控制台的 Settings -> Variables 中配置，

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1

